.Restaurants-src-menu { display:none; }
.loader-div { background:#FE4B4B; position:fixed; top:0; bottom:0; right:0; left:0; z-index:999; }
.loader-div div { text-align: center;font-weight: bold;font-size: 26px;color: #ffffff; height:100%;}

@media (min-width:768px) {
	.loader-div { display: none; }
}