.Restaurants-src-menu { display:none; }
.loader-div { background:#FE4B4B; position:fixed; top:0; bottom:0; right:0; left:0; z-index:999; }
.loader-div div { text-align: center;font-weight: bold;font-size: 26px;color: #ffffff; height:100%;}

@media (min-width:768px) {
	.loader-div { display: none; }
}

.required { position:relative; }
.required:after {
	content:"*";
	position:absolute;
	color:#FF0000;
	margin-left:5px;
}
.red-border{ border:1px solid #FF0000; }
label.error {
    color: red;
    font-style: italic;
}

a.logStyle {
    background: #f3f3f3;
    border: 1px solid #CB202D;
    color: #CB202D;
}

.logStyleBtn {
	background: #CB202D;
	border: 1px solid #CB202D;
	width:100%;
	padding: 0 60px;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	font-size: 16px;
	height: 60px;
	line-height: 60px;
}

.locFd02 { padding:0 10px; }
.error-summary { background-color: #dd4b39; color:#fff; font-weight:bold; text-align:left; padding:5px 10px; }
.error-summary p{ color:#fff; }
.error-summary ul { margin:0 0 24px 20px; }